/* access font from the font folder */
@font-face {
  font-family: "Pixel Game";
  src: url("../fonts/Pixel-Game.otf") format("truetype");
}

* {
  font-family: "Pixel Game", sans-serif;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.canvasContainer {
  margin: 10px 0;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  background-color: #87ceeb;
  position: relative;
}

canvas {
  height: 100%;
  border-radius: 10px;
  /* background-color: #87ceeb; */
}

#score {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99;
  font-size: 144px;
  color: black;
}

/* canvas for smaller screen */
@media (max-width: 600px) {
  .canvasContainer {
    margin: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    border-radius: 0;
  }
}
